# path:   /home/klassiker/.local/share/repos/cinfo/.gitignore
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/cinfo
# date:   2022-07-05T12:59:55+0200

/config.h
/cinfo
/cinfo.o
/util.o
*.tar.gz
