# path:   /home/klassiker/.local/share/repos/cinfo/.gitignore
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/cinfo
# date:   2025-08-14T03:53:49+0200

/config.h
/cinfo
/cinfo.o
/util.o
*.tar.gz
