# path:   /home/klassiker/Projects/repos/cinfo/.gitignore
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/cinfo
# date:   2026-07-15T03:26:21+0200

/config.h
/cinfo
/cinfo.o
/util.o
*.tar.gz
